[Unit]
Description=BeeChunker Monitor Service
After=network.target

[Service]
Type=simple
User=jgajbha
ExecStart=/home/jgajbha/BeeChunker/venv/bin/python3.12 /home/jgajbha/BeeChunker/beechunker/cli/monitor_cli.py run
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
